body {
    background: #f7f7f7;
}

.banner {
    padding: 120px 0;
    background-image: url(/image/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;

}

.banner::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    background: rgb(0, 0, 0);
    z-index: -1;
}

.banner-p {
    color: #e5e8e9;
    line-height: 1.5;
}

.aside-height {
    height: 250px;
}

.res-padding {
    box-shadow: 9px 9px 4px 4px #e7e7e7;
}

@media (max-width:576px) {
    .banner {
        padding: 50px 20px;
    }

    .banner-p {
        height: 100px;
        overflow-y: scroll;
    }

    .res-padding {
        box-sizing: border-box;
        margin: 10px;
    }
}